In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from scipy.stats import linregress

In [2]:
df = pd.read_csv("cleaned.csv")
df.head()

,ID,pricesold,yearsold,zipcode,Mileage,Make,Model,Year,Trim,Engine,BodyType,NumCylinders,DriveType
0,119660,8750,2020,33449,55000,Jaguar,XJS,1995,2+2 Cabriolet,4.0L In-Line 6 Cylinder,Convertible,6,RWD
1,80773,11600,2019,7852,97200,Ford,Mustang,1968,Stock,289 cu. in. V8,Coupe,8,RWD
2,64287,44000,2019,7728,40703,Porsche,911,2002,Turbo X-50,3.6L,Coupe,6,AWD
3,5250,70000,2019,7627,6500,Land Rover,Defender,1997,NaN,4.0 Liter Fuel Injected V8,NaN,0,4WD
4,29023,1330,2019,7043,167000,Honda,Civic,2001,EX,NaN,Coupe,4,FWD

In [3]:
#Show unique Makes value count
print(df.groupby(['Make'])['Make'].count().sort_values(ascending=False))

Make
Ford             14429
Chevrolet        13638
Toyota            4432
Mercedes-Benz     4172
Dodge             3898
BMW               3564
Jeep              3058
Cadillac          2462
Volkswagen        2390
Honda             2371
Pontiac           1738
GMC               1681
Nissan            1661
Porsche           1476
Lincoln           1269
Buick             1187
Audi              1029
Chrysler          1015
Subaru             917
Lexus              894
Jaguar             851
Land Rover         828
Name: Make, dtype: int64

In [4]:
#Create dataframe for Ford, CHevrolet, Toyota, Mercedes-Benz, Dodge, BMW
make_df = df.loc[(df["Make"] == "Ford") | (df["Make"]=="Chevrolet") | (df["Make"]=="Toyota") | \
                 (df["Make"] == "Mercedes-Benz") | (df["Make"]=="Dodge") | (df["Make"]=="BMW"),:].copy()
make_df

,ID,pricesold,yearsold,zipcode,Mileage,Make,Model,Year,Trim,Engine,BodyType,NumCylinders,DriveType
1,80773,11600,2019,7852,97200,Ford,Mustang,1968,Stock,289 cu. in. V8,Coupe,8,RWD
7,59728,18550,2019,60448,6714,Chevrolet,Camaro,2002,"Z28,SS,SLP",5.7 liter v8,Coupe,8,RWD
8,74813,4300,2019,76705,140309,Ford,F-100,1960,NaN,223,Standard Cab Pickup,6,RWD
9,74812,4750,2019,76705,151361,Ford,F-250,1978,Ranger XLT,460,Standard Cab Pickup,8,RWD
14,77900,2550,2019,7840,174102,Toyota,Yaris,2009,NaN,1.5L DOHC 16V,NaN,4,FWD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68954,86399,7200,2019,95407,85468,Dodge,Dart,1968,GTS,340,NaN,8,NaN
68955,14948,4200,2019,80233,102700,Ford,Mustang,1977,NaN,302,Fastback,8,NaN
68956,58814,6500,2019,53132,128000,Ford,E-Series Van,2012,NaN,E-150,NaN,0,NaN
68957,2156,2000,2019,77536,50000,Ford,Bronco,1978,NaN,351m,NaN,8,4WD
68958,29096,2280,2019,92131,164337,BMW,3-Series,2000,328ci,M52TU 2.8L,Coupe,6,RWD

In [5]:
#Show unique Makes value count
print(df.groupby(['Make','Model'])['Model'].count().sort_values(ascending=False).head(50))

Make           Model
Ford           Mustang             2889
Chevrolet      Corvette            1954
Ford           F-150               1726
Chevrolet      Camaro              1402
Ford           F-250               1276
Jeep           Wrangler            1147
BMW            3-Series            1102
Chevrolet      C-10                 942
               Impala               829
Mercedes-Benz  SL-Class             797
Chevrolet      Silverado 1500       797
Ford           F-350                748
               E-Series Van         731
Chevrolet      Other Pickups        719
Honda          Civic                701
Ford           Bronco               667
Honda          Accord               639
Porsche        911                  586
Mercedes-Benz  E-Class              577
Toyota         Camry                570
BMW            5-Series             545
Ford           F-100                542
Jeep           Grand Cherokee       536
Chevrolet      Chevelle             534
Cadillac       DeVille              533
Dodge          Charger              522
Chevrolet      Bel Air/150/210      499
Toyota         Land Cruiser         490
Volkswagen     Beetle - Classic     487
Dodge          Ram 1500             485
Ford           Explorer             480
Chevrolet      Suburban             475
Mercedes-Benz  S-Class              455
Toyota         4Runner              438
Ford           Thunderbird          437
Toyota         Tacoma               425
Chevrolet      Tahoe                414
Lincoln        Town Car             404
Mercedes-Benz  300-Series           403
Volkswagen     Bus/Vanagon          400
               Jetta                397
GMC            Sierra 1500          390
Jeep           Cherokee             381
Pontiac        Trans Am             381
Dodge          Ram 2500             376
Toyota         Prius                362
BMW            7-Series             356
Dodge          Challenger           349
Jeep           CJ                   346
Ford           Escape               329
Name: Model, dtype: int64

In [6]:
#Create dataframe for Ford (Mustang, F-150), Chevrolet (Corvette,Camaro), Toyota (Camry, Land Cruiser), 
#Mercedes-Benz (SL-Class, E-Class), Dodge (Charger, Ram 1500), BMW (3-Series, 5-Series)
model_df = df.loc[((df["Make"]=="Ford") & (df["Model"]=="Mustang")) | ((df["Make"]=="Ford") & (df["Model"]=="F-150")) |\
                  ((df["Make"]=="Chevrolet") & (df["Model"]=="Corvette")) | ((df["Make"]=="Chevrolet") & (df["Model"]=="Camaro")) |\
                  ((df["Make"]=="Toyota") & (df["Model"]=="Camry")) | ((df["Make"]=="Toyota") & (df["Model"]=="Land Cruiser")) |\
                  ((df["Make"]=="Mercedes-Benz") & (df["Model"]=="SL-Class")) | ((df["Make"]=="Mercedes-Benz") & (df["Model"]=="E-Class")) |\
                  ((df["Make"]=="Dodge") & (df["Model"]=="Charger")) | ((df["Make"]=="Dodge") & (df["Model"]=="Ram 2500")) |\
                  ((df["Make"]=="BMW") & (df["Model"]=="3-Series")) | ((df["Make"]=="BMW") & (df["Model"]=="5-Series")), :].copy()
                  
model_df

,ID,pricesold,yearsold,zipcode,Mileage,Make,Model,Year,Trim,Engine,BodyType,NumCylinders,DriveType
1,80773,11600,2019,7852,97200,Ford,Mustang,1968,Stock,289 cu. in. V8,Coupe,8,RWD
7,59728,18550,2019,60448,6714,Chevrolet,Camaro,2002,"Z28,SS,SLP",5.7 liter v8,Coupe,8,RWD
22,45861,45400,2019,59101,2357,Ford,Mustang,2016,Roush,5.0L Supercharged,Coupe,8,RWD
23,55855,49810,2019,13039,2640,Dodge,Charger,2016,SRT Hellcat,6.2L Supercharged,Sedan,8,RWD
31,67537,760,2019,32533,144002,Ford,Mustang,1987,LX,5.0 V8,Coupe,8,RWD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68942,43792,23600,2019,60455,19410,BMW,5-Series,2016,535I XDRIVE,3.0L TURBO,Sedan,6,4WD
68944,78322,41110,2020,22749,26576,Chevrolet,Corvette,2016,LT3,NaN,Convertible,8,RWD
68950,42098,3400,2019,97031,247000,Toyota,Camry,2002,Sport Edition,2.4,Mid-Size,4,FWD
68955,14948,4200,2019,80233,102700,Ford,Mustang,1977,NaN,302,Fastback,8,NaN
68958,29096,2280,2019,92131,164337,BMW,3-Series,2000,328ci,M52TU 2.8L,Coupe,6,RWD

In [7]:
print(model_df.groupby(['Make','Model'])['Model'].count().sort_values(ascending=False).head(50))

Make           Model
Ford           Mustang         2889
Chevrolet      Corvette        1954
Ford           F-150           1726
Chevrolet      Camaro          1402
BMW            3-Series        1102
Mercedes-Benz  SL-Class         797
               E-Class          577
Toyota         Camry            570
BMW            5-Series         545
Dodge          Charger          522
Toyota         Land Cruiser     490
Dodge          Ram 2500         376
Name: Model, dtype: int64

In [8]:
year_bins = [0, 1970, 2001, 2010, 2015, 2016, 2017, 2018, 2020]
labels = ["<1970", "1970-2001", "2001-2010", "2010-2015","2016", "2017", "2018", "2019"]

model_df["year made"] = pd.cut(model_df["Year"], bins=year_bins, labels=labels, include_lowest=True)
model_df.head()

,ID,pricesold,yearsold,zipcode,Mileage,Make,Model,Year,Trim,Engine,BodyType,NumCylinders,DriveType,year made
1,80773,11600,2019,7852,97200,Ford,Mustang,1968,Stock,289 cu. in. V8,Coupe,8,RWD,<1970
7,59728,18550,2019,60448,6714,Chevrolet,Camaro,2002,"Z28,SS,SLP",5.7 liter v8,Coupe,8,RWD,2001-2010
22,45861,45400,2019,59101,2357,Ford,Mustang,2016,Roush,5.0L Supercharged,Coupe,8,RWD,2016
23,55855,49810,2019,13039,2640,Dodge,Charger,2016,SRT Hellcat,6.2L Supercharged,Sedan,8,RWD,2016
31,67537,760,2019,32533,144002,Ford,Mustang,1987,LX,5.0 V8,Coupe,8,RWD,1970-2001

In [9]:
print(model_df.groupby(['Make','year made'])['year made'].count().sort_values(ascending=False))

Make           year made
Chevrolet      1970-2001    1668
Ford           1970-2001    1420
               <1970        1239
               2001-2010    1048
Chevrolet      <1970         925
BMW            2001-2010     789
Mercedes-Benz  1970-2001     764
Toyota         1970-2001     613
Ford           2010-2015     538
BMW            1970-2001     518
Mercedes-Benz  2001-2010     409
Chevrolet      2001-2010     343
BMW            2010-2015     288
Toyota         2001-2010     274
Dodge          1970-2001     265
Chevrolet      2010-2015     262
Dodge          2001-2010     253
               <1970         154
Mercedes-Benz  2010-2015     146
Dodge          2010-2015     125
Ford           2018          122
               2016          121
               2017           92
Toyota         2010-2015      82
Chevrolet      2016           61
               2017           54
Dodge          2016           38
Ford           2019           35
Dodge          2018           35
Mercedes-Benz  <1970          32
Toyota         <1970          31
               2018           28
BMW            2016           27
Chevrolet      2018           26
Dodge          2017           20
Toyota         2016           18
Chevrolet      2019           17
Mercedes-Benz  2016           13
BMW            2017           11
Toyota         2017           10
BMW            2018           10
Dodge          2019            8
Mercedes-Benz  2017            5
Toyota         2019            4
Mercedes-Benz  2019            4
BMW            2019            2
               <1970           2
Mercedes-Benz  2018            1
Name: year made, dtype: int64

In [10]:
print(model_df.groupby(['Make','yearsold'])['yearsold'].count().sort_values(ascending=False))

Make           yearsold
Ford           2019        4071
Chevrolet      2019        2992
BMW            2019        1453
Mercedes-Benz  2019        1224
Toyota         2019         935
Dodge          2019         792
Ford           2020         470
Chevrolet      2020         321
BMW            2020         161
Mercedes-Benz  2020         136
Toyota         2020         105
Dodge          2020          90
Ford           2018          74
Chevrolet      2018          43
BMW            2018          33
Toyota         2018          20
Dodge          2018          16
Mercedes-Benz  2018          14
Name: yearsold, dtype: int64

In [11]:
######### need to make yearsold column string
analysis18_df = model_df.loc[model_df["yearsold"] == 2018,:].copy()
analysis18_df.head()

,ID,pricesold,yearsold,zipcode,Mileage,Make,Model,Year,Trim,Engine,BodyType,NumCylinders,DriveType,year made
122,801,9600,2018,28601,26478,Dodge,Charger,1973,CHARGER,V8 318,Coupe,8,RWD,1970-2001
140,14077,3950,2018,11208,122603,BMW,3-Series,2007,328i,3.0L,Convertible,6,RWD,2001-2010
815,836,9500,2018,33570,104526,Toyota,Land Cruiser,1968,FJ40,3.9L,SUV,6,4WD,<1970
849,10694,27000,2018,77573,35661,Ford,Mustang,2007,GT500,5.4,Coupe,8,RWD,2001-2010
1000,12749,17500,2018,98498,130000,Dodge,Ram 2500,1992,LE,12Valve Cummins Diese,Standard Cab Pickup,6,4WD,1970-2001

In [12]:
analysis18_df = analysis18_df[['pricesold', 'yearsold', 'zipcode','Make','Model','Year','year made']].copy()
analysis18_df

       pricesold  yearsold  zipcode       Make         Model  Year  year made
122         9600      2018    28601      Dodge       Charger  1973  1970-2001
140         3950      2018    11208        BMW      3-Series  2007  2001-2010
815         9500      2018    33570     Toyota  Land Cruiser  1968      <1970
849        27000      2018    77573       Ford       Mustang  2007  2001-2010
1000       17500      2018    98498      Dodge      Ram 2500  1992  1970-2001
...          ...       ...      ...        ...           ...   ...        ...
66299       2250      2018    10989  Chevrolet        Camaro  1989  1970-2001
67153       6000      2018    89074       Ford       Mustang  1990  1970-2001
67727       8500      2018    43147  Chevrolet        Camaro  2011  2010-2015
68394      40500      2018     2053  Chevrolet      Corvette  1963      <1970
68410      22100      2018     2038       Ford       Mustang  1965      <1970

[200 rows x 7 columns]

In [13]:
#Separate data by Model

mustang = analysis18_df[(analysis18_df["Model"] == "Mustang")]
f150 = analysis18_df[(analysis18_df["Model"] == "F-150")]
corvette = analysis18_df[(analysis18_df["Model"] == "Corvette")]
camaro = analysis18_df[(analysis18_df["Model"] == "Camaro")]
camry = analysis18_df[(analysis18_df["Model"] == "Camry")]
landcruiser = analysis18_df[(analysis18_df["Model"] == "Land Cruiser")]
slclass = analysis18_df[(analysis18_df["Model"] == "SL-Class")]
eclass = analysis18_df[(analysis18_df["Model"] == "E-Class")]
charger = analysis18_df[(analysis18_df["Model"] == "Charger")]
ram1500 = analysis18_df[(analysis18_df["Model"] == "Ram 1500")]
series3 = analysis18_df[(analysis18_df["Model"] == "3-Series")]
series5 = analysis18_df[(analysis18_df["Model"] == "5-Series")]

In [14]:
#Group by "year made" and take the mean of pricesold.
mustang_18 = mustang.groupby(["year made"]).mean()["pricesold"] 
f150_18 = f150.groupby(["year made"]).mean()["pricesold"]
corvette_18 = corvette.groupby(["year made"]).mean()["pricesold"]
camaro_18 = camaro.groupby(["year made"]).mean()["pricesold"]
camry_18 = camry.groupby(["year made"]).mean()["pricesold"]
landcruiser_18 = landcruiser.groupby(["year made"]).mean()["pricesold"]
slclass_18 = slclass.groupby(["year made"]).mean()["pricesold"]
eclass_18 = eclass.groupby(["year made"]).mean()["pricesold"]
charger_18 = charger.groupby(["year made"]).mean()["pricesold"]
ram1500_18 = ram1500.groupby(["year made"]).mean()["pricesold"]
series3_18 = series3.groupby(["year made"]).mean()["pricesold"]
series5_18 = series5.groupby(["year made"]).mean()["pricesold"]

In [15]:
price_df = pd.DataFrame(
    {
        "Mustang" : mustang_18,
        "F-150" : f150_18,
        "Corvette" : corvette_18,
        "Camaro" : camaro_18,
        "Camry" : camry_18,
        "Land Cruiser" : landcruiser_18,
        "SL-Class" : slclass_18,
        "E-Class" : eclass_18,
        "Charger" : charger_18,
        "Ram 1500" : ram1500_18,
        "3-Series" : series3_18,
        "5-Series" : series5_18,
    }
)  
price_df

,Mustang,F-150,Corvette,Camaro,Camry,Land Cruiser,SL-Class,E-Class,Charger,Ram 1500,3-Series,5-Series
year made,,,,,,,,,,,,
<1970,21045.263158,NaN,40643.333333,25936.25,NaN,9500.000000,NaN,NaN,27975.0,NaN,NaN,NaN
1970-2001,8078.333333,4270.625000,8308.181818,4868.75,1396.0,14161.428571,9477.5,1400.0,9600.0,NaN,4962.0,3283.333333
2001-2010,9802.500000,5994.000000,15870.000000,12500.00,4262.5,17150.000000,17600.0,7690.0,3587.5,NaN,4034.0,5330.000000
2010-2015,NaN,15512.727273,68000.000000,8500.00,NaN,NaN,NaN,20700.0,8050.0,NaN,5600.0,16200.000000
2016,24490.000000,NaN,46500.000000,25500.00,NaN,NaN,NaN,NaN,12500.0,NaN,NaN,NaN
2017,49480.000000,NaN,NaN,29900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30100.000000
2018,NaN,NaN,NaN,NaN,16500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
price_df.transpose()

year made,<1970,1970-2001,2001-2010,2010-2015,2016,2017,2018,2019
Mustang,21045.263158,8078.333333,9802.5,NaN,24490.0,49480.0,NaN,NaN
F-150,NaN,4270.625000,5994.0,15512.727273,NaN,NaN,NaN,NaN
Corvette,40643.333333,8308.181818,15870.0,68000.000000,46500.0,NaN,NaN,NaN
Camaro,25936.250000,4868.750000,12500.0,8500.000000,25500.0,29900.0,NaN,NaN
Camry,NaN,1396.000000,4262.5,NaN,NaN,NaN,16500.0,NaN
Land Cruiser,9500.000000,14161.428571,17150.0,NaN,NaN,NaN,NaN,NaN
SL-Class,NaN,9477.500000,17600.0,NaN,NaN,NaN,NaN,NaN
E-Class,NaN,1400.000000,7690.0,20700.000000,NaN,NaN,NaN,NaN
Charger,27975.000000,9600.000000,3587.5,8050.000000,12500.0,NaN,NaN,NaN
Ram 1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3-Series,NaN,4962.000000,4034.0,5600.000000,NaN,NaN,NaN,NaN
5-Series,NaN,3283.333333,5330.0,16200.000000,NaN,30100.0,NaN,NaN